#customize-controls .description {
    background-color: #E8E8E8;
    padding: 6px;
    border-radius: 4px;
    font-size: 11px !important;
    font-weight: 300;
}

.text-center {
    text-align: center;
}

.dotted-below {
    border-bottom: 1px dotted;
    padding-bottom: 3px;
}

.dotted-above {
    padding-top: 3px;
    border-top: 1px dotted;
}

/* PRO Version CSS below */
#accordion-section-pixova_lite_pro_section .accordion-section-content {
    padding: 10px;
}

.upgrade,
.review,
.document {
    color: #777 !important;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    font-size: 13px;
    padding: 15px 10px;
    text-transform: uppercase;
    width: 90%;
    border-radius: 4px;
    font-weight: 600;
}
.upgrade {
    border: 1px solid rgb(226, 81, 54);
}
.upgrade:hover {
    background-color: rgb(226, 81, 54);
    color: #FFF !important;
}

.document {
    border: 1px solid #2ecc71;
}

.document:hover {
    background-color: #2ecc71;
    color: #FFF !important;
}

.review {
    border: 1px solid #298cba;
}
.review:hover {
    background-color: #298cba !important;
    color: #FFF !important;
}

.pro-box {
    text-align:center;
}

.control-section-themes .accordion-section-title {
    margin              : 0;
}


/* Upsell link */
.upsell-link,
.doc-link,
.review-link {
    display: block;
    width: 90%;
    padding: 10px 0;
    letter-spacing: 1px;
    line-height: 1.5;
    border: none;
    text-align: center;
    font-size: 14px;
    margin: 10px auto;

}

.upsell-link:hover,
.review-link:hover,
.doc-link:hover {
    cursor: pointer;
}

.upsell-link {
    background-color: #e25136;
    color: #fff;
    border: 1px solid #e25136;
}

.upsell-link:hover {
    color: #e25136;
    border: 1px solid #e25136;
    background-color: transparent;
}

.review-link {
    color: #2ecc71;
    border: 1px solid #2ecc71;
    background-color: transparent;
}
.review-link:hover {
    background-color: #2ecc71;
    color: #FFF;
    border: 1px solid #2ecc71;
}

.doc-link {
    background-color: transparent;
    color: #298cba;
    border: 1px solid #298cba;
}
.doc-link:hover {
    background-color: #298cba;
    border: 1px solid #298cba;
    color: #FFF;
}


.pro-box {
    text-align          :center;
}

.pro-version {
    text-align          : center;
    margin              : 15px auto;
}

.pro-version p{
    line-height         : 1.5;
}

/* Add dotted lines on PRO sections */
/*
#accordion-panel-regina_lite_panel_advanced .accordion-section-title,
#accordion-panel-regina_lite_panel_general .accordion-section-title,
#accordion-panel-regina_lite_panel_preloader .accordion-section-title,
#accordion-panel-regina_lite_panel_blog .accordion-section-title,
#accordion-panel-regina_lite_panel_formats .accordion-section-title {
    background-image: url('../../images/gray-lines.png');
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
}


#accordion-panel-regina_lite_panel_advanced .accordion-section-title:after,
#accordion-panel-regina_lite_panel_general .accordion-section-title:after,
#accordion-panel-regina_lite_panel_preloader .accordion-section-title:after,
#accordion-panel-regina_lite_panel_blog .accordion-section-title:after,
#accordion-panel-regina_lite_panel_formats .accordion-section-title:after { 
    content: '\f160';
}
*/

#accordion-section-pixova_lite_pro_section .accordion-section-title {
    background-color: #e25136;
    color: #FFF;
    border-bottom: 1px solid transparent;
}

/* PRO disabled fields */
.textarea-pro-feature,
.text-pro-feature,
.checkbox-pro-feature,
.radio-pro-feature {
    border: 1px solid #e25136;
    border-top-right-radius: 4px;
    padding: 7.5px;
    position: relative;
}

.textarea-pro-feature .pro-badge,
.text-pro-feature .pro-badge,
.checkbox-pro-feature .pro-badge,
.radio-pro-feature .pro-badge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7.5px;
    background: #e25136;
    color: #FFF;
    border-bottom-left-radius: 4px;

}
.checkbox-pro-feature .pro-badge {
    padding: 15px 7.5px;
}